# Ignore Gradle project-specific cache directory
.gradle

# Ignore Gradle build output directory
build

# Compiled class file
*.class

# Log files
*.log

# IntelliJ IDEA files
.idea/
*.iml
*.ipr
*.iws
out/

# Gradle files
.gradle/
build/